body {
  margin: 0;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #4B2BB7;
  height: 8.3em;
}

div {
   grid-column: 2 / 3;
   grid-row: 2 / 3;
   margin-top: 1.8em;
  color: white;
}