body {
  margin: 0;

  font-family: 'Open Sans', sans-serif;
}

.logo {
  position: absolute;

  padding: 3em;
  margin-left: 3em;
}

svg {
  fill: white;
}

nav ul {
  display: flex;
  justify-content: flex-end;

  list-style: none;
  
  margin: 0;
  padding: 2em;
  padding-right: 4em;

  background-color:  #4B2BB7;
}

nav a {
  display: block;

  margin: 0;
  padding: 1.5em;

  text-decoration: none;

  color: white;
  font-size: 1em;
  font-family: sans-serif;
}

.hero {
  margin: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(75, 43, 183);

  height: 50vh;
  width: 100vw;
}

.hero h3 {
  margin-top: 0;
  margin-left: 3em;
  padding: 1.5em;
  padding-bottom: 0;

  text-transform: uppercase;
  font-size: bolder;
  color: #FA6797;

}

.hero h1 {
  margin-top: 0;
  margin-left: 2em;
  padding: 0;

  color: white;
  font-size: 2.5em;
}



.circle {
  margin-top: 5em;
  margin-bottom: 10em;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px 250px;
  grid-template-rows: 400px 400px 400px;
}

article {
  background-color: rgb(150, 66, 184);
  border-radius: 50%;
  width: 280px;
  height: 280px;
  
}

.circle1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
}

.circle2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: center;
}
.circle3 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: center;
  justify-self: center;
}



.text1 {
  margin-left: 100px;
  grid-column: 3 / 6;
  align-self: center;
  justify-self: center;
}

.text2 {
  margin-left: 100px;
  grid-column: 3 / 6;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: center;
}

.text3 {
  margin-left: 100px;
  grid-column: 3 / 6;
  grid-row: 3 / 4;
  align-self: center;
  justify-self: center;
}



.name {
  line-height: 2px;
  font-size: 35px;
  font-weight: 900;
}

.title {
  font-weight: 100;
  color: rgb(212, 108, 190);
  font-size: 20px;
}

.button {
  font-size: 18px;
  padding: 18px;
  color: #E2DDEF;
  background-color: rgb(68, 34, 179);
  box-shadow: rgb(119, 111, 111) .1px 6px 15px;
  text-align: center;
  border-radius: 52.5px;
  max-width: 120px;
  height: 25px;
  
}           






footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #4B2BB7;
  height: 8.3em;
}

.Copyright {
   grid-column: 2 / 3;
   grid-row: 2 / 3;
   margin-top: 1.8em;
  color: white;
}